
.movie_header {
    height: auto;
    margin-bottom: 1rem;
}

.movie_content {
    margin-top: 1rem;
}

.movie_slide {
   height: 500px;
   background-size: cover;
   background-position: center center;
}

.movie_modal {
    max-width: 1000px;
}

.youtube_container {
   
   
   width: 100%;
   
}

